/* -------------------------- Navbar -------------------------- */
nav {
    background-color: rgb(171, 152, 255);
    min-height: 70px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.249);
  }
  .nav-container {
    width: 95%;
  }
  .right-nav > a {
    color: rgb(0, 0, 0);
  }
  .dropdown .dropdown-toggle {
    color: rgb(0, 0, 0);
  }
  nav img {
    filter: invert(1);
  }
  .right-nav > a:hover {
    border-right: 2px solid rgb(160, 101, 255);
    border-left: 2px solid rgb(160, 101, 255);
  }
  .navbar-class .icon {
    color: rgb(0, 0, 0);
  }
  /* -------------------------- Navbar -------------------------- */
  body {
    background: linear-gradient(
        to right,
        rgb(87, 9, 177),
        rgba(159, 17, 95, 0.591)
      ),
      url(../assets/picture-backgrounds/rocks-background-1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
  .title {
    margin: 50px;
    margin-top: 130px;
    height: 150px;
    padding: 10px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    color: rgb(145, 120, 255);
    color: white;
  }
  .title h1 {
    margin-bottom: 5px;
  }
  main {
    padding: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    background-color: rgb(240, 240, 240);
    background-color: rgb(237, 231, 240);
    background-color: white;
    position: relative;
  }

  .product {
    display: flex;
    flex-direction: row-reverse;
    margin: 60px;
    margin-inline: 0;
    position: relative;
  }

  .text-container {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  .title-section {
    font-size: x-large;
    color: rgb(130, 99, 255);
    margin: 10px;
  }

  .text-section {
    margin: 10px;
    font-size: 15px;
  }

  .button-section {
    margin: 10px;
    display: flex;
  }

  .button-section button {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 2px;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(130, 99, 255);
    color: rgb(130, 99, 255);
    border-radius: 50px;
    margin-right: 20px;
  }
  .button-section button:hover {
    background-color: rgb(130, 99, 255);
    color: rgb(255, 255, 255);
  }

  .img-container {
    width: 30%;
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .product img {
    max-width: 150px;
  }

  .button-section a {
    margin-right: 20px;
    font-weight: 600;
    color: rgb(38, 0, 133);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .button-section button {
    margin-inline: 10px;
    width: 40px;
    height: 40px;
  }

  .hide-button {
    display: none;
  }

  @media screen and (width < 600px) {
    main {
      padding: 20px;
    }
    .product {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    
    .text-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .title-section { 
      text-align: center;
    }

    .img-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .text-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .button-section button {
      margin-inline: 5px;
      width: 30px;
      height: 30px;
    }

  }