/* * {
  margin: 0;
  padding: 0;
}
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;

  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: scroll;
} */

* {
  margin: 0;
  padding: 0;
}
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: clip;

}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
  overflow-x: clip;

}
