header {
  position: relative;
  min-height: 100vh;
  max-height: 100vh;
  background-color: transparent;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('assets/picture-backgrounds/group-blacknwhite.png');
  background-image: url('assets/picture-backgrounds/spray-bottle-1.jpg');

  background-attachment: fixed;
  background-position: top;
  background-size: cover;
  z-index: -1;
  filter: brightness(0.8);
}

.title-section {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  /* color: rgb(61, 61, 61); */
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.title-text {
  font-size: 80px;
  font-weight: 700;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 0px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.68);
  letter-spacing: 10px;
  border-radius: 90px;

}

span.w-color {
  color: rgb(147, 145, 255);
}

.subtitile-text {
  font-size: 30px;
  font-weight: 450;
  letter-spacing: 1px;
  margin: 5px;
  color: rgb(230, 230, 230);
  /* color: rgb(61, 61, 61); */
}

.sub-2 {
  font-size: 26px;
  font-weight: 350;
  letter-spacing: 3px;
  padding-top: 10px;
  color: rgb(255, 255, 255);
  /* color: rgb(61, 61, 61); */
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.785);
  letter-spacing: 8px;

}
.title-logo {
  max-width: 150px;
  width: 150px;
  /* height: 125px; */
  width: 19vh;
  margin-top: 100px;
  filter: drop-shadow(0px 0px 5px black);
}
.learn-more-btn {
  padding: 20px;
  min-width: 250px;
  background-color: rgb(97, 95, 219);
  border: 3px solid  rgb(97, 95, 219);
  margin: 40px;
  transition: all 0.3s ease;
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.505); */
  /* border-radius: 20px; */
  /* position: absolute;
  bottom: 17%; */
  background-color: rgba(0, 0, 0, 0.128);
  border: 2px solid  rgb(255, 255, 255);

  
}
.learn-more-btn:hover {
  background-color: rgb(135, 133, 248);
  border: 2px solid  rgb(135, 133, 248);
  border-radius: 20px;
}

a.learn-more-btn > button {
  background-color: transparent;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 550;
  text-transform: uppercase;
}


/* #des-2 {
  position: absolute;
  width: 1000px;
  top: 0;
  right: 0;
  filter: saturate(0.9);
  opacity: 0.8;
  z-index: -1;
  display: none;
}

#des-1 {
  position: absolute;
  width: 1200px;
  bottom: 0;
  left: 0;
  opacity: 0.8;
  filter: saturate(0.9);
  z-index: -1;
  display: none;
} */

.des-1 {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 750px;
  opacity: 0.4;
}
.des-2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 250px;
}


/* ---------------------------- Media Queries ---------------------------- */

@media screen and (min-width: 1300px), screen and (min-height: 800px) {
  .learn-more-btn {
    min-width: 14vw;
    margin: 2vh;
    position: relative;
    top: 0;
  }
}

@media screen and (1400px < width) {
  .des-1 {
    min-width: 80vw;
    min-width: 58vw;
  }
  .des-2{
    opacity: 0.8;
    min-width: 30vw;
    height: 19.5vw;
    /* height: 20vw; */
  }
}

@media screen and (1600px < width) {
  /* .des-1 {
    min-width: 80vw;
    min-width: 60vw;
  }
  .des-2{
    opacity: 0.8;
    min-width: 30vw;
    height: 20vw;
  } */

  .title-text {
    font-size: 11vh;
    padding: 1vh;
  }

  .subtitile-text {
    font-size: 4vh;
    padding: 0.7vh;
  }

  .sub-2 {
    font-size: 3.5vh;
    padding: 0.7vh;
  }

  a.learn-more-btn > button {
    font-size: 2vh;
  }
  .learn-more-btn {
    min-width: 13vw;
    margin: 2vh;
  }
}


@media screen and (2000px < width) {
  /* .des-2 {
    min-width: 30vw;
  }
  .des-1 {
    min-width: 60vw;
  } */

  .title-text {
    font-size: 10vh;
    padding: 0.8vh;
  }

  .subtitile-text {
    font-size: 3.5vh;
    padding: 0.5vh;
  }

  .sub-2 {
    font-size: 3vh;
    padding: 0.5vh;
  }

  a.learn-more-btn > button {
    font-size: 1.5vh;
  }
  .learn-more-btn {
    padding: 2vh;
    min-width: 10vw;
    margin: 3vh;
  }
}

@media screen and (3000px < width) {
  /* .des-2, .des-1 {
    min-width: 100vw;
  } */

  .title-text {
    font-size: 10vh;
    padding: 0.8vh;
  }

  .subtitile-text {
    font-size: 3.5vh;
    padding: 0.5vh;
  }

  .sub-2 {
    font-size: 3vh;
    padding: 0.5vh;
  }

  a.learn-more-btn > button {
    font-size: 1.5vh;
  }
  .learn-more-btn {
    padding: 2vh;
    min-width: 10vw;
    margin: 3vh;
  }
}


/* ---------------------------- MOBILE PHONES ---------------------------- */


@media screen and (max-width: 1000px) {


  /* .des-2, .des-1 {
    max-width: 150vw;
  } */

  .des-1 {
    max-width: 60vw;
  }
  .des-2 {
    width: 30vw;
    max-width: 30vw;
    max-height: 30vw;
  }

  .title-text {
    font-size: 9vw;
    padding: 0.3vw;
  }

  .subtitile-text {
    font-size: 3.5vw;
    padding: 0.7vw;
  }

  .sub-2 {
    font-size: 3vw;
    padding: 0.5vw;
  }

  a.learn-more-btn > button {
    font-size: 2vw;
  }
}



@media screen and (width < 800px) {
  .des-1 {
    width: 1000px;
    height: 500px;
  }
  .des-2 {
    width: 800px;
    height: 400px;
  }
  .learn-more-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 15px;
  }
}

@media screen and (width < 600px) {
  .des-1 {
    width: 1200px;
    height: 400px;
  }
  .des-2 {
    width: 800px;
    height: 400px;
  }
}


@media screen and (max-width: 400px) {
  .learn-more-btn {
    padding: 10px;
    min-width: 100px;
  }
}