header {
  position: relative;
  min-height: 100vh;
  max-height: 100vh;
  overflow-x: hidden;
  /* background-color: rgb(255, 255, 255); */
  background-image: url(assets/picture-backgrounds/group-blacknwhite.png);
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
}


.title-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  /* color: rgb(61, 61, 61); */
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.title-text {
  font-size: 90px;
  font-weight: 700;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 0px;
}
.subtitile-text {
  font-size: 35px;
  font-weight: 450;
  letter-spacing: 1px;
  margin: 5px;
  color: rgb(230, 230, 230);
  /* color: rgb(61, 61, 61); */
}

.sub-2 {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 3px;
  padding-top: 10px;
  color: rgb(230, 230, 230);
  /* color: rgb(61, 61, 61); */
}
.title-logo {
  max-width: 150px;
  width: 150px;
  height: 125px;
  filter: invert(0.7);
}
.learn-more-btn {
  padding: 20px;
  min-width: 200px;

  background-color: rgb(97, 95, 219);
  border: 3px solid  rgb(97, 95, 219);
  border-radius: 20px;
  margin: 20px;
  /* position: absolute;
  bottom: 17%; */
  transition: all 0.3s ease;
}
.learn-more-btn:hover {
  background-color: rgb(54, 52, 173);
  border: 3px solid  rgb(54, 52, 173);
  border-radius: 0px;
}

a.learn-more-btn > button {
  background-color: transparent;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 550;
  text-transform: uppercase;
}


#des-2 {
  position: absolute;
  width: 1000px;
  top: 0;
  right: 0;
  /* transform: translate(70px,-10px); */
  filter: saturate(0.9);
  opacity: 0.8;
  z-index: -1;
  display: none;
}

#des-1 {
  position: absolute;
  width: 1200px;
  bottom: 0;
  left: 0;
  /* transform: translate(-20px, 120px); */
  opacity: 0.8;
  filter: saturate(0.9);
  z-index: -1;
  display: none;

}

#plus-icon-1 {
  position: absolute;
  bottom: 25px;
  right: 30px;
  max-width: 80px;
  filter: brightness(0.7) opacity(0.7);
}

#plus-icon-2 {
  position: absolute;
  bottom: 5px;
  right: 0px;
  max-width: 70px;
  filter: brightness(0.8) opacity(0.7);
}


/* ---------------------------- Media Queries ---------------------------- */

@media screen and (min-width: 1300px), screen and (min-height: 800px) {
  .learn-more-btn {
    min-width: 14vw;
    margin: 2vh;
    position: relative;
    top: 0;
  }
}


@media screen and (1600px < width) {
  #des-2, #des-1 {
    min-width: 80vw;
  }

  .title-text {
    font-size: 11vh;
    padding: 1vh;
  }

  .subtitile-text {
    font-size: 4vh;
    padding: 0.7vh;
  }

  .sub-2 {
    font-size: 3.5vh;
    padding: 0.7vh;
  }

  a.learn-more-btn > button {
    font-size: 2vh;
  }
  .learn-more-btn {
    min-width: 13vw;
    margin: 2vh;
  }
}


@media screen and (2000px < width) {
  #des-2 {
    min-width: 90vw;
  }
  #des-1 {
    min-width: 85vw;
  }

  .title-text {
    font-size: 10vh;
    padding: 0.8vh;
  }

  .subtitile-text {
    font-size: 3.5vh;
    padding: 0.5vh;
  }

  .sub-2 {
    font-size: 3vh;
    padding: 0.5vh;
  }

  a.learn-more-btn > button {
    font-size: 1.5vh;
  }
  .learn-more-btn {
    padding: 2vh;
    min-width: 10vw;
    margin: 3vh;
  }
}

@media screen and (3000px < width) {
  #des-2, #des-1 {
    min-width: 100vw;
  }

  .title-text {
    font-size: 10vh;
    padding: 0.8vh;
  }

  .subtitile-text {
    font-size: 3.5vh;
    padding: 0.5vh;
  }

  .sub-2 {
    font-size: 3vh;
    padding: 0.5vh;
  }

  a.learn-more-btn > button {
    font-size: 1.5vh;
  }
  .learn-more-btn {
    padding: 2vh;
    min-width: 10vw;
    margin: 3vh;
  }
}


/* ---------------------------- MOBILE PHONES ---------------------------- */

@media screen and (max-width: 1000px) {

  /* #plus-icon-1, #plus-icon-2 {
    max-width: 100px;
  } */

  #des-2, #des-1 {
    max-width: 150vw;
  }

  .title-text {
    font-size: 9vw;
    padding: 0.3vw;
  }

  .subtitile-text {
    font-size: 3.5vw;
    padding: 0.7vw;
  }

  .sub-2 {
    font-size: 3vw;
    padding: 0.5vw;
  }

  a.learn-more-btn > button {
    font-size: 2vw;
  }
}



@media screen and (width < 800px) {
  #des-1 {
    width: 1000px;
    height: 500px;
  }
  #des-2 {
    width: 800px;
    height: 400px;
  }
  .learn-more-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 15px;
  }
}

@media screen and (width < 600px) {
  #des-1 {
    width: 1200px;
    height: 400px;
  }
  #des-2 {
    width: 800px;
    height: 400px;
  }
}


@media screen and (max-width: 400px) {
  .learn-more-btn {
    padding: 10px;
    min-width: 100px;
  }
}