.section-3-introduction {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    background-image: url(assets/picture-backgrounds/group-picture.png);

    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    position: relative;

    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
    z-index: 1;
  }
  .section-3-background {
    min-height: 70vh;
    /* background-color: rgba(2, 11, 33, 0.358); */
    background: linear-gradient(rgba(14, 3, 57, 0.6), rgba(57, 3, 3, 0.3));
    /* min-height: 80vh; */
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  .intro-box {
    display: flex;
    margin: 80px;
    margin-top: 100px;
    margin-bottom: 0px;
    padding: 20px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }
  .intro-content {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin: auto;
  }
  .intro-title {
    max-height: 200px;
    font-size: 62px;
    font-weight: 1000;
    margin-top: 25px;
    font-weight: 450;
    padding: 10px;
    padding-left: 60px;
    line-height: 0.9;
    
  }
  .intro-title span {
    color: rgb(48, 194, 0);
    color: rgb(95, 234, 49);
    color: rgb(153, 163, 255);

    font-weight: bold;
    font-size: 40px;
    margin: 0;
  }
  .intro-text {
    font-size: 22px;
    font-weight: 300;
    padding: 20px;
    padding-top: 40px;
    padding-right: 0;
    max-height: 200px;
    line-height: 1.7;
    letter-spacing: 0.5px;
  }
  .intro-text span {
    color: rgb(255, 252, 83);
    color: rgb(153, 163, 255);

    font-weight: bold;
  }
  
  .section-3-transition {
    position: absolute;
    bottom: 0px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    border-top: 1.2px solid rgba(255, 255, 255, 0.735);
  }
  /* .s3-about {
    font-size: 20px;
    font-weight: 900;
    padding: 25px;
    margin: 10px;
    float: left;
    letter-spacing: 2px;
  }
  .s3-plus {
    font-size: 60px;
    font-weight: 500;
    padding: 0px;
    margin: 10px;
    float: right;
  } */
  .s3-about {
    /* background-color: pink; */
    font-size: 17px;
    font-weight: 550;
    padding: 20px;
    margin: 10px;
    float: left;
    letter-spacing: 1px;
    vertical-align: middle;
    /* background-color: aqua; */
  }

  .s3-info {
    font-size: 30px;
    font-weight: 800;
    margin-right: 15px;
    padding-top: 5px;
    float: left;
    letter-spacing: 1px;
    vertical-align: middle;
    line-height: 75px;
    /* background-color: aqua; */
  }

  .s3-plus {
    font-size: 70px;
    font-weight: 100;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    /* background-color: aqua; */
  }