.section-6-linked-carousels {
  min-height: 100vh;
  display: flex;
  background-color: white;
  background: linear-gradient(
    to right,
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) 50%,
    rgb(219, 255, 219) 40%,
    rgb(185, 185, 255) 100%
  );
  color: rgb(153, 163, 255);
  letter-spacing: 2px;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}

.lc-left-div {
  margin: 10px;
  float: left;
}
.lc-title {
  font-size: 70px;
  font-weight: 750;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.5;
  margin-bottom: 10px;
  margin-left: 40px;
  padding-left: 40px;
  letter-spacing: 5px;
}
.carousel-nav {
  max-height: 200px;
  max-width: 500px;
  overflow: hidden;
  margin: 10px;
  padding-left: 10px;
  margin-top: 0px;
}
.carousel-cell-nav {
  align-items: center;
  width: 100%;
  margin: 0;
  display: flex;
  width: 100%;
  height: 80px;
}
.lc-nav-text {
  font-size: 40px;
  margin: 51px;
  padding: 10px;
  text-transform: uppercase;
  color: rgb(153, 163, 255);
}
.section-6-linked-carousels .flickity-prev-next-button {
  color: rgb(153, 163, 255);
  background: transparent;
}
.section-6-linked-carousels .flickity-prev-next-button:hover {
  color: rgb(255, 255, 255);
  background: rgb(153, 163, 255);
}
.lc-right-div {
  float: right;
  min-width: 500px;
  margin: 10px;
  /* margin-top: 60px; */
  /* margin-right: 60px; */
}
.lc-carousel-container {
  margin: 0px;
  padding: 0.8vw;
  padding-top: 1.6vw;
  padding-bottom: 1.6vw;
  border: 10px solid white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.482);
}
.carousel-main {
  margin: auto;
}
.carousel-cell-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
}
.section-6-linked-carousels img {
  max-width: 400px;
  margin: 20px;
  /* border-radius: 20px; */
  border-radius: 1.6vw;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.372);

}



/* ---------------------------- Media Queries ---------------------------- */


@media screen and (width <= 1280px) {
  .lc-left-div {
    transform: translateX(-50px);
  }

}


@media screen and (1400px < width) {
  .section-6-linked-carousels {
    align-items: center;
  }

  .lc-title {
    font-size: 73px;
  }


  .lc-right-div {
      float: right;
      min-width: 550px;
      min-height: 550px;
      margin: 10px;
      margin-top: 60px;
  }

  .lc-carousel-container {
      margin: 0;
      /* padding: 10px; */
      min-width: 550px;
      min-height: 550px;
      margin-left: 50px;
      border: 13px solid white;
  }

  .carousel-cell-main {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: auto;
      margin: 0;
      padding: 0;
  }

  .section-6-linked-carousels img {
      max-width: 500px;
  }
}


@media screen and (1600px < width) {

  .lc-title {
    font-size: 75px;
  }

  .lc-right-div {
      min-width: 600px;
      min-height: 600px;
  }

  .lc-carousel-container {
      min-width: 600px;
      min-height: 600px;
      border: 15px solid white;

  }

  .section-6-linked-carousels img {
      max-width: 550px;
  }
}



@media screen and (1800px < width) {

  .lc-title {
    font-size: 77px;
  }

  .lc-nav-text {
    font-size: 60px;
  }

  .carousel-nav {
    min-width: 100%;
  }

  .carousel-cell-nav {
    height: 150px;
  }

  .lc-right-div {
    min-width: 650px;
    min-height: 650px;
  }

  .lc-carousel-container {
    min-width: 650px;
    min-height: 650px;
    border: 17px solid white;

  }

  .section-6-linked-carousels img {
    max-width: 600px;
  }
}


@media screen and (2200px < width) {

  .lc-title {
    font-size: 120px;
  }

  .lc-right-div {
      min-height: 800px;
  }

  .lc-carousel-container {
      min-width: 800px;
      min-height: 800px;
      border: 20px solid white;
  }

  .section-6-linked-carousels img {
      max-width: 750px;
  }
}
