footer {
    min-height: 500px;
    max-height: 500px;
    min-width: 100%;
   
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;

    /* background-image: url("assets/display-pictures/gros_morn-1.jpg"); */
    background-image: url("assets/leaves-background/Title_Leaves_background-4.jpg");
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
}

.footer-background {
    width: 100%;
    height: 80vh;
    height: 500px;
    margin: 0;
    background-color: rgba(86, 68, 129, 0.87);
    /* background: -webkit-linear-gradient(
        rgba(78, 28, 135, 0.95),
        rgba(255, 0, 93, 0.6)); */

    background: -webkit-linear-gradient(
        rgb(68, 14, 130),
        rgba(164, 225, 149, 0.039));
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .space {
    width: 10%;
    height: 75vh;
    height: 475px;
}

.footer-1 {
    position: relative;
    min-width: 30%;
    width: 40%;
    height: 75vh;
    height: 475px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
}

.footer-2 {
    position: relative;
    min-width: 50%;
    /* min-height: 75vh; */
    height: 475px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-content {
    height: 400px;
    width: 100%;
}

/* ---------- footer-1 ------------ */
.footer-1 h1{
    font-size: 27px;
    letter-spacing: 3px;
    margin-top: 50px;
}

.footer-1 p{
    font-size: 17px;
    margin-top: 5px;
    padding-top: 5px;
}
.insta {
    will-change: auto;
    text-decoration: none;
    color: rgb(255, 35, 244);
}
.insta:hover {
    text-shadow: 0px 0px 5px rgb(255, 143, 249);
}
.facebook {
    will-change: auto;
    text-decoration: none;
    color: rgb(56, 209, 255);
}
.facebook:hover {
    text-shadow: 0px 0px 5px rgb(100, 219, 255);
}
/* ---------- footer-1 ------------ */


/* ---------- footer-2 ------------ */
.footer-2 h1 {
    font-size: 27px;
    letter-spacing: 3px;
    text-align: center;
    margin-top: 30px;
}
/* ---------- footer-2 ------------ */


/* ---------- iframe styling ------------ */
.iframe-container {
    margin: 25px;
}

.iframe-container iframe {
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.514);
    /* width: 54.7vw;
    height: 23vw; */
    width: 700px;
    height: 299px;
}
/* ---------- iframe styling ------------ */

.copyright-attributions {
    text-align: center;
} 

/* Copyright and attributions styling */
.copyright-attributions a{
    color: rgba(255, 255, 255, 0.384);
    font-size: 8px;
    text-decoration: none;
}

.copyright-attributions a.copyright {
    font-size: 12px;    
    color: rgba(255, 255, 255, 0.7);
}


/* ---------------------------- Media Queries ---------------------------- */

@media screen and (1280px < width) {
    .iframe-container iframe {
        width: 54.7vw;
    }

    /* .footer-1 h1{
        font-size: 2vw;
        letter-spacing: 3px;
    }
    
    .footer-1 p{
        font-size: 17px;
        margin-top: 5px;
        padding-top: 5px;
    } */
}

@media screen and (1500px < width) {

    .footer-1 h1{
        font-size: 1.3vw;
    }
    
    .footer-1 p{
        font-size: 0.8vw;
    }

    .footer-2 h1 {
        font-size: 1.2vw;
    }
}
