footer {
    min-height: 500px;
    max-height: 500px;
    min-width: 100%;
   
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;

    /* background-image: url("assets/display-pictures/gros_morn-1.jpg"); */
    background-image: url("assets/leaves-background/Title_Leaves_background-4.jpg");
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
}

.footer-background {
    width: 100%;
    height: 80vh;
    height: 500px;
    margin: 0;
    background-color: rgba(86, 68, 129, 0.87);
    /* background: -webkit-linear-gradient(
        rgba(78, 28, 135, 0.95),
        rgba(255, 0, 93, 0.6)); */

    background: -webkit-linear-gradient(
        rgb(68, 14, 130),
        rgba(164, 225, 149, 0.039));
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .space {
    width: 10%;
    height: 75vh;
    height: 475px;
}

.footer-1 {
    position: relative;
    min-width: 30%;
    width: 40%;
    height: 75vh;
    height: 475px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
}

.footer-2 {
    position: relative;
    min-width: 50%;
    /* min-height: 75vh; */
    height: 475px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-content {
    height: 400px;
    width: 100%;
}

/* ---------- footer-1 ------------ */
.footer-1 h1{
    font-size: 27px;
    letter-spacing: 3px;
    margin-top: 50px;
}

.footer-1 p{
    font-size: 17px;
    margin-top: 5px;
    padding-top: 5px;
}
.insta {
    will-change: auto;
    text-decoration: none;
    color: rgb(255, 35, 244);
}
.insta:hover {
    text-shadow: 0px 0px 5px rgb(255, 143, 249);
}
.facebook {
    will-change: auto;
    text-decoration: none;
    color: rgb(56, 209, 255);
}
.facebook:hover {
    text-shadow: 0px 0px 5px rgb(100, 219, 255);
}
/* ---------- footer-1 ------------ */


/* ---------- footer-2 ------------ */
.footer-2 h1 {
    font-size: 27px;
    letter-spacing: 3px;
    text-align: center;
    margin-top: 30px;
}
/* ---------- footer-2 ------------ */


/* ---------- iframe styling ------------ */
.iframe-container {
    margin: 25px;
}

.iframe-container iframe {
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.514);
    /* width: 54.7vw;
    height: 23vw; */
    width: 700px;
    height: 299px;
}
/* ---------- iframe styling ------------ */

.copyright-attributions {
    text-align: center;
} 

/* Copyright and attributions styling */
.copyright-attributions a{
    color: rgba(255, 255, 255, 0.384);
    font-size: 8px;
    text-decoration: none;
}

.copyright-attributions a.copyright {
    font-size: 12px;    
    color: rgba(255, 255, 255, 0.7);
}


/* ---------------------------- Media Queries ---------------------------- */

@media screen and (1280px < width) {
    .iframe-container iframe {
        width: 54.7vw;
    }
}


@media screen and (1500px < width) {

    .footer-1 h1{
        font-size: 1.3vw;
        margin-top: 1vw;
    }
    
    .footer-1 p{
        font-size: 0.8vw;
    }

    .footer-2 h1 {
        font-size: 1.2vw;
    }
}

@media screen and (3000px < width) {

    .footer-1 h1{
        font-size: 40px;
        margin-top: 30px;
    }
    
    .footer-1 p{
        font-size: 25px;
    }

    .footer-2 h1 {
        font-size: 40px;
    }
}


/* ---------------------------- PHONE RESPONSIVNESS ---------------------------- */

@media screen and (width < 1200px) {
    
    .footer-1 h1{
        font-size: 25px;
        margin-top: 60px;
    }

    .footer-1 p{
        font-size: 15px;
    }

    .footer-2 h1 {
        font-size: 25px;
        margin-top: 30px;
    }

    .iframe-container {
        margin: 20px;
    }

    .iframe-container iframe {
        border-radius: 20px;
        width: 600px;
        height: 299px;
    }

}


@media screen and (width < 1100px) {

    .iframe-container iframe {
        width: 500px;
    }
}

@media screen and (width < 1000px) {

    .footer-1 h1{
        font-size: 23px;
        margin-top: 60px;
    }

    .footer-1 p{
        font-size: 14px;
    }

    .footer-2 h1 {
        font-size: 23px;
        margin-top: 30px;
    }

    .iframe-container {
        margin: 15px;
    }

    .iframe-container iframe {
        width: 480px;
        height: 250px;
    }
}

@media screen and (width < 900px) {

    footer {
        min-height: 300px;
        max-height: auto;
    }

    .footer-background {
        height: auto;
    }

    .footer-1 h1{
        font-size: 20px;
        margin-top: 50px;
    }

    .footer-1 p{
        font-size: 13px;
    }

    .footer-2 h1 {
        font-size: 20px;
        margin-top: 20px;
    }

    .iframe-container {
        margin: 15px;
    }

    .iframe-container iframe {
        width: 400px;
        height: 220px;
    }

    .copyright-attributions a{
        font-size: 6px;
    }

    .copyright-attributions a.copyright {
        font-size: 10px;    
    }
}


@media screen and (width < 850px) {
    footer {
        min-height: 100vh;
        max-height: auto;
    }
    
    .footer-background {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
    
    footer .space {
        display: none;
    }
    
    .footer-content {
        display: flex;
        justify-content: space-around;
        height: auto;
    }

    .footer-1 {
        min-width: 100%;
        max-height: auto;
        flex-direction: none;
        color: rgb(255, 255, 255);
    }
    
    .footer-2 {
        position: relative;
        min-width: 100%;
        max-height: auto;
        min-height: auto;
        height: auto;
    }
    
    .footer-1 h1{
        font-size: 27px;
        margin-top: 0;
    }
    
    .footer-1 p{
        font-size: 17px;
        margin-top: 5px;
        padding-top: 5px;
    }

    .footer-2 h1 {
        display: none;
    }
    
    .iframe-container {
        margin: 0;
    }
    
    .iframe-container iframe {
        border-radius: 20px;
        width: 700px;
        height: 299px;
    }

    .copyright-attributions a{
        font-size: 8px;
    }
    
    .copyright-attributions a.copyright {
        font-size: 12px;  
        margin-top: 10px;
    }
    
}


@media screen and (width < 750px) {
    
    .footer-1 {
        min-width: 100%;
        max-height: auto;
        flex-direction: none;
    }
    
    .iframe-container iframe {
        width: 650px;
        height: 250px;
    }

}


@media screen and (width < 650px) {
    
    .iframe-container iframe {
        width: 550px;
        height: 250px;
    }
    
}

@media screen and (width < 550px) {

    .footer-1 {
        max-width: 80%;
    }

    .footer-1 h1{
        font-size: 24px;
        margin-top: 0;
        margin: 0;
    }
    
    .footer-1 p{
        font-size: 14px;
        margin: 5px;
        padding: 0;
    }
    
    .iframe-container iframe {
        width: 400px;
        height: 220px;
    }
    
}


@media screen and (width < 550px) {

    .footer-1 {
        max-width: 70%;
        background-color: red;
    }

    .footer-1 h1{
        font-size: 20px;
    }
    
    .footer-1 p{
        font-size: 12px;
        margin: 5px;
        padding: 0;
    }

    .iframe-container iframe {
        width: 300px;
        height: 150px;
    }
    
}